#{extends 'main.html' /}
#{set title:'ADAM Password Change' /}
#{set 'moreStyles'}
<style>
    .error { color: red; }
</style>
#{/set}
<h1><span style="font-family: Lobster; font-weight: normal;">adam</span> Password Change</h1>
#{form @update()}
    <table>
        <tr><td>New password:<td><input name="password" type="password"><span class="error">#{error 'password'/}</span>
        <tr><td>New password (again):<td><input name="passwordConfirmation" type="password"><span class="error">#{error 'passwordConfirmation'/}</span>
        <tr><td><td><input type="submit" value="Change password">
    </table>
#{/form}
